* {
  box-sizing: border-box;
}

.winModal {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-image: url("./src/images/podum.png");
    padding: 2rem;
    border-radius: 50px;
    background-position: -310px center;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    letter-spacing: 2px;
} 

.winModal > h1 {
  margin-left: 15px;
  padding-bottom: 40px;
} 

.winModal > h2 {
  text-align: center;
  font-size: 1.10rem;
  margin-left: 15px;
}
 
.winModal > h3 {
  text-align: center;
  font-size: 0.75rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 999; /* Ensure the WinnerModal appears above other elements */
  }

 .valueContainer {
    font-size: 0.75rem ;
    color: purple;
    font-weight: 900;
    text-shadow: none;
}

.botContainer {
margin-bottom: 20px;
}

.winModal > button {
    background-color: red;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
}
