.colorInput {
	width: 2em; 
	height: 1rem;
	border: none; 
	border-radius: 100%;
	padding: 0; 
	-webkit-appearance: none; 
	appearance: none;
	cursor: pointer;
}

.colorInput::-webkit-color-swatch-wrapper {
	padding: 0;
	border: none;
}

.colorInput::-webkit-color-swatch {
	border: 2px grey solid;
	border-radius: 25%;
}